@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.App {
  font-family: "Itim", cursive;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #00f898;
  color: #00278a;
  min-height: 100vh;
}

.modal-dialog {
  align-self: center;
}

@media screen and (max-width: 575px) {
  .modal {
    width: 100vw;
    justify-content: center;
    translate: (-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
  }
}
