.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  min-height: 100vh;
}

.modal-dialog {
  align-self: center;
}

@media screen and (max-width: 575px) {
  .modal {
    width: 100vw;
    justify-content: center;
    translate: (-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
  }
}
::-webkit-scrollbar-track {
  background-color: #e2e3e5;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #0dcaf0;
  border-radius: 10px;
  height: 8vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(13, 202, 240, 0.5);
}
