@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.App {
  font-family: "Itim", cursive;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #9bf2f2;
  color: #021373;
  min-height: 100vh;
}

.modal-dialog {
  align-self: center;
}

@media screen and (max-width: 575px) {
  .modal {
    width: 100vw;
    justify-content: center;
    translate: (-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.navbar-style {
  background-color: #043a40 !important;
  color: #00d9c2 !important;
}

.navbar-button-style {
  background-color: #043a40 !important;
  color: #00d9c2 !important;
  border: transparent !important;
}

.input-group {
  background-color: transparent !important;
  color: #021373 !important;
  border: 2px solid #021373 !important;
}

.button-style {
  background-color: #021373 !important;
  color: #00d9c2 !important;
  border: 2px solid #00d9c2 !important;
}

.foster-button-style {
  background-color: #043a40 !important;
  color: #00d9c2 !important;
  border: 2px solid #00d9c2 !important;
}

.return-button-style {
  background-color: #00f898 !important;
  color: #043a40 !important;
  border: 2px solid #007cd9 !important;
}

.card-style {
  background-color: #84d9d0 !important;
  color: #a6847c !important;
  border: 2px solid #043a40 !important;
}

.card-header-style {
  background-color: #043a40 !important;
  color: #00d9c2 !important;
}

.modal-style {
  background-color: #84d9d0 !important;
  color: #021373 !important;
}

.color {
  color: #021373 !important;
}

.available-color {
  background-color: #043a40 !important;
  color: #00f898 !important;
}

.fostered-color {
  background-color: #a6847c !important;
  color: #9bf2f2 !important;
}

.adopted-color {
  background-color: #a6847c !important;
  color: #043a40 !important;
}
